/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

:root:after {
    overflow:hidden;
    content: 
        url("/assets/images/abbey_road.jpg") 
        url("/assets/images/floyd.jpg")
        url("/assets/images/rollingstones.jpg")
        url("/assets/images/trick.jpg")
        url("/assets/images/beatles.jpg")
        url("/assets/images/fragile.jpg")
        url("/assets/images/Rubber_Soul.jpg")
        url("/assets/images/tull.jpg")
        url("/assets/images/beatles.png")
        url("/assets/images/Physical_Graffiti.jpg")
        url("/assets/images/sgtpepper.jpg")
        url("/assets/images/yes.png")
        url("/assets/images/crimson.png")
        url("/assets/images/revolver.jpg")
        url("/assets/images/thebeatles.jpg")
        url("/assets/images/Zeppelin.jpg");  
}
